html
  head
    link(rel="stylesheet", href="css/main.css")
  body
    header
      nav
      //h1.wat itaswcoafoabp
      //- is this a star wars character or a food or a baseball player
    main
      .holder
        #timer
      .question-holder
        h1.question Plo Koon
      .answers
        button.starwars Star Wars
        button.food Food
        button.baseball Baseball
      .scores
        .overall ovr: 6/7
        .streak streak: 3
    footer
    script(src="js/jquery-2.1.3.min.js")
    script(src="js/main.js")
