main {
  max-width: 320px;
  margin: 0 auto; }

@font-face {
  font-family: 'Star Jedi Rounded';
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/41589/Starjedi.ttf");
  font-weight: normal;
  font-style: normal; }

@keyframes timer {
  0% {
    width: 0%; }

  100% {
    width: 100%; } }

@-webkit-keyframes timer {
  0% {
    width: 0%; }

  100% {
    width: 100%; } }

@keyframes scroll {
  0% {
    top: 70%; }

  100% {
    top: -170%; } }

@-webkit-keyframes scroll {
  0% {
    top: 70%; }

  100% {
    top: -170%; } }

.holder {
  width: 100%;
  background: #4D4D4D;
  height: 1em; }

#timer {
  background: #91E54E;
  height: 1em;
  width: 0%;
  max-width: 100%;
  float: left;
  animation: timer 10s 1 forwards;
  -webkit-animation: timer 10s 1 forwards;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear; }

* {
  box-sizing: border-box;
  font-family: 'Star Jedi Rounded', sans-serif;
  color: white; }

body {
  background: black;
  color: white;
  text-align: center;
  font-family: 'Star Jedi Rounded'; }

h1 {
  font-weight: normal; }
  h1.question {
    margin-top: 4em;
    margin: 0;
    height: 100%;
    line-height: 14rem; }

button {
  -webkit-display: none;
  padding: 0.5rem;
  width: 100%;
  display: block;
  font-size: 1em;
  margin: 1em auto;
  color: black;
  border: none;
  box-shadow: none;
  cursor: pointer; }
  button:focus {
    outline: none; }
  button.starwars {
    background: #FFE81F; }
  button.food {
    background: #00FFFF; }
  button.baseball {
    background: #FF00FF; }

.scores {
  font-weight: 200; }
  .scores .overall {
    float: left;
    color: #91E54E; }
  .scores .streak {
    float: right;
    color: #91E54E; }

.question-holder {
  position: relative;
  height: 14rem;
  overflow: hidden; }
  .question-holder.starwars {
    position: relative;
    width: 20rem;
    left: 50%;
    margin-left: -10rem;
    text-align: center;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: perspective(300px) rotateX(25deg);
    -moz-transform: perspective(300px) rotateX(25deg);
    transform: perspective(300px) rotateX(25deg); }
    .question-holder.starwars:after {
      position: absolute;
      content: ' ';
      left: 0;
      right: 0;
      top: 0;
      bottom: 60%;
      background-image: -webkit-linear-gradient(top, #000000 0%, transparent 100%); }
    .question-holder.starwars .question {
      color: yellow;
      position: relative;
      top: 100%;
      -webkit-animation: scroll 8s linear 0s infinite; }

.wrong {
  color: red; }
